.form-wrapper {
  height: $view-height;
  overflow-y: auto;
  padding: $horizontal-padding;
  display: flex;
  flex-direction: column;
  .form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .form-buttons-wrapper {
    margin-top: 32px;
  }
}
