// override the default icon font with the better version
@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('assets/fonts/SegMDL2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// add icons missing in the default font
$trq-icon-map: (
  'Battery0': '\E850',
  'Battery1': '\E851',
  'Battery2': '\E852',
  'Battery3': '\E853',
  'Battery4': '\E854',
  'Battery5': '\E855',
  'Battery6': '\E856',
  'Battery7': '\E857',
  'Battery8': '\E858',
  'Battery9': '\E859',
  'Battery10': '\E83F',
  'ChromeClose': '\E8BB',
  'Delete': '\E74D',
  'Edit': '\E70F',
  'MapLayers': '\E81E',
  'PC1': '\E977',
  'Refresh': '\E72C',
  'Wifi': '\E701',
  'WifiHotspot': '\E88A',
  'WifiWarning4': '\EB63'
);
