$grid-columns: 4;

$titlebar-height: 32px;
$view-height: calc(100vh - #{$titlebar-height});

$horizontal-padding: 40px;
$vertical-padding: 40px;

$body-padding-left: 48px;
$body-padding-right: 0px;

$nav-width: 192px;
