@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables-layout';
@import '../../../styles/abstracts/variables-colors';

.grid {
  height: $view-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin-bottom: 48px;
}
.scanner-wrapper {
  background-color: white;
  padding: 48px 0 48px 48px;
  margin-left: -48px;
  margin-right: calc(-50% - #{$body-padding-right});
  margin-bottom: 48px;
  background-image: url('assets/images/scanner/scanner-medium.svg');
  background-size: 153px;
  background-position: 334px center;
  background-repeat: no-repeat;
}
.scanner-name, .scanner-id {
  margin-bottom: 4px;
}
.scanner-id {
  color: $neutral-primary;
}
.scanner-battery {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  .ms-Icon {
    @include square-icon(36px);
  }
}
