<div class="grid">
  <div class="col-2 col-offset-1">
    <h1>Scanner Connected!</h1>

    <div class="scanner-wrapper">
      <h4 class="scanner-name">{{ getScannerName() }}</h4>
      <div class="scanner-id">ID: {{ getScannerId() }}</div>
      <div class="scanner-battery">
        <i class="ms-Icon ms-Icon--Battery{{ getScannerBatteryClassName() }}" aria-hidden="true"></i>
        <span>{{ getScannerBatteryLevel() | percent:'0.0-0' }}</span>
      </div>

      <a [routerLink]="['/scan-setup', 0]" class="btn-primary btn-big">Start Scanning</a>
    </div>

    <a [routerLink]="['/configure-device']" class="btn-link">Connect to another device</a>
  </div>
</div>
