@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables-colors';
@import '../../../styles/abstracts/variables-layout';

.scans-list-wrapper {
  padding: 0;
}

.scan-item,
.scans-list-header {
  padding: 0 $horizontal-padding 16px $horizontal-padding;
}

.scans-list-header {
  padding-top: 15px;
  font-size: 20px;
  line-height: 24px;
  color: mix($green, black, 50%);
}

.scan-item {
  overflow: hidden;
}

.scan-item-content {
  padding: 24px 20px;
  background-color: white;

  display: grid;
  grid-gap: 24px;
  grid-template-columns: 220px auto 90px 90px 90px;
}

.scans-list-header,
.scan-recent {
  background: mix($green, white, 50%);
}

.scans-list-wrapper .scan-recent + .scan-item:not(.scan-recent) {
  padding-top: 16px;
}

.scan-time,
.scan-label,
.scan-description {
  color: $neutral-primary;
}

.scan-time,
.scan-part-number,
.scan-material .scan-value {
  @include text-overflow-ellipsis;
}

.scan-part-number {
  font-size: 28pt;
  font-weight: 300;
}

.scan-value,
.scan-label {
  min-height: 22px;
  display: inline-block;
}

.scan-description {
  min-height: 40px;
}

.scan-value {
  font-size: 20px;
}

.scan-description,
.scan-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 820px) {
  .scan-description {
    display: none;
  }
}

.scan-list-item-outcome-invalid {
  color: $yellow;
}
.scan-list-item-outcome-valid {
  color: $theme-primary;
}
