@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables-colors';
@import '../../../styles/abstracts/variables-layout';

:host {
  height: $view-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ms-Icon {
  @include square-icon(120px);
  margin-bottom: 64px;
  color: $neutral-secondary;
}
h1 {
  margin-bottom: 32px;
}
p:first-of-type {
  margin-bottom: 64px;
}
.btn-primary {
  margin-bottom: 32px;
}
