@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables-colors';

.dropdown-wrapper {
  position: relative;
}
.dropdown-current .ms-Icon {
  font-size: 12px;
  position: absolute;
  right: 10px;
}
.dropdown-options-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border: 2px solid $neutral-light;
  background-color: white;
}

.dropdown-option {
  @include text-overflow-ellipsis;
  line-height: 32px;
  padding: 0 12px;
}
.dropdown-option:hover {
  background-color: $neutral-light;
}
.dropdown-option.is-selected {
  background-color: $neutral-secondary;
}

.dropdown-wrapper:not(.is-opened) {
  .dropdown-options-list {
  display: none;
  }
}
.dropdown-wrapper.is-opened {
  .dropdown-current {
    border: 2px solid $neutral-primary;
  }
}
.dropdown-wrapper.is-disabled {
  .dropdown-current {
    background-color: $neutral-secondary;
  }
}
