<div class="dropdown-wrapper" [class.is-opened]="open" [ngClass]="{'is-disabled': disabled}">
  <div class="dropdown-current input-primary" (click)="toggleDropdown()">
    <span>{{ selectedOption.displayedValue }}</span>
    <i class="ms-Icon ms-Icon--ChevronDown"></i>
  </div>

  <div class="dropdown-options-list ms-slideDownIn10">
    <div class="dropdown-option"
      [class.is-selected]="isSelected(option)"
      *ngFor="let option of options"
      (click)="selectOption(option)">
      {{ option.displayedValue }}
    </div>
  </div>
</div>
