<div class="list-wrapper"
  trqInfiniteScroll
  (loadMoreItems) = "infiniteScrollCallback($event)"
  [offset] = "offset"
  [limit] = "limit"
  [hasNextPage] = "hasNextPage"
  >

  <div *ngFor="let material of materials" (click)="selectedMaterialIdChange.emit(material.id)" class="material-tile" [ngClass]="{'is-selected': isMaterialSelected(material)}">
    <h2 class="material-name">{{ material.name }}</h2>

    <div class="material-property">
      <span class="property-value">{{ material.permeability | unit:'permeability' }}</span>
      <span class="property-label">permeability</span>
    </div>
    <div class="material-property">
      <span class="property-value">{{ material.resistance | unit:'resistance' }}</span>
      <span class="property-label">resistance</span>
    </div>
    <div class="material-property">
      <span class="property-value">{{ material.frequency | unit:'frequency' }}</span>
      <span class="property-label">frequency</span>
    </div>
  </div>
</div>
