<div class="container scan-preview-wrapper">
  <!-- TODO: add chart here -->
  <div class="scan-preview-chart">
    <trq-scan-chart [measurements]="scan.measurements" [size]="scan.measurements.length"></trq-scan-chart>
  </div>

  <div class="scan-preview-item">
    <header>
      <time class="scan-time">{{ scan.updatedAt | date:'dd/MM/yyyy HH:mm' }}</time>
      <h2 class="scan-part-number">{{ scan.partNumber }}</h2>
      <span class="scan-preview-outcome-invalid" *ngIf="scan.outcome === Outcome.Invalid">Breaks found</span>
      <span class="scan-preview-outcome-valid" *ngIf="scan.outcome === Outcome.Valid">No breaks</span>
    </header>

    <div>
      <p class="scan-description">{{ scan.description }}</p>
      <ng-container *ngIf="scan.additionalInfo">
        <p class="scan-additional-info" *ngFor="let key of getScanAdditionalInfoKeys()">
          {{ key }}: {{ scan.additionalInfo[key] }}
        </p>
      </ng-container>
      <div class="scan-buttons">
        <a [routerLink]="['/scan-edit', scan.id]" class="btn-primary">Edit</a>
        <button (click)="deleteScan()" class="btn-secondary">Delete Scan</button>
      </div>
    </div>

    <div class="scan-property scan-material">
      <span class="scan-label">Material</span>
      <span class="scan-value">{{ scan.material && scan.material.name }}</span>
    </div>

    <div class="scan-property">
      <span class="scan-label">Det. Depth</span>
      <span class="scan-value">{{ scan.detectionDepth | unit:'detectionDepth' }}</span>
    </div>

    <div class="scan-property">
      <span class="scan-label">Frequency</span>
      <span class="scan-value">{{ scan.frequency | unit:'frequency' }}</span>
    </div>
  </div>

  <h2>Related Scans</h2>
  <trq-scans-list-view
    *ngIf="relatedScans.length"
    [scansList]="relatedScans"
    (scanSelected)="scanSelected($event)"
  ></trq-scans-list-view>
  <p *ngIf="!relatedScans.length" class="scan-preview-no-related">
    No related charts
  </p>
</div>
