@import '../../../../styles/abstracts/mixins';
@import '../../../../styles/abstracts/variables-colors';
@import '../../../../styles/abstracts/variables-layout';

.scan-preview-wrapper {
  overflow: auto;
  height: $view-height;
}

.scan-preview-outcome-invalid {
  color: $yellow;
}
.scan-preview-outcome-valid {
  color: $theme-primary;
}

.scan-preview-chart {
  height: 45vh;
  overflow: hidden;
  margin-left: -$horizontal-padding;
  margin-right: -$horizontal-padding;

  trq-scan-chart {
    top: 32px;
    position: relative;
  }
}

.scan-preview-no-related {
  color: $neutral-primary;
}

.scan-preview-item {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 220px auto 90px 90px 90px;

  background-color: $theme-dark;
  padding: 24px $body-padding-right 16px $body-padding-left;
  margin-left: -$body-padding-left;
  margin-right: -$horizontal-padding;
  color: white;
  margin-bottom: 32px;
}

.scan-part-number, .scan-description {
  color: white;
}
.scan-label {
  color: rgba(white, 0.5);
}
.scan-value {
  font-weight: 300;
}
.scan-description + .scan-additional-info, .scan-buttons {
  margin-top: 20px;
}
.btn-primary {
  margin-right: 12px;
}

.scan-item + h2 {
  margin-bottom: 32px;
}

trq-scans-list-view /deep/ .list-wrapper {
  max-height: initial;
}
