@import "../../../styles/abstracts/variables-colors";

@import "../../../styles/abstracts/variables-colors";

.scan-summary {
  background: white;
  padding: 24px;
  position: relative;
  margin-bottom: 16px;
}

.scan-summary-label,
.scan-summary-value {
  padding: 10px 0;
}

.scan-summary-label {
  padding-right: 20px;
  color: $neutral-primary;
  text-align: right;
}

.scan-summary-row {
  display: flex;
  padding: 5px 0;
}

.scan-summary-buttons > .btn-secondary {
  margin: 10px 0;
  min-width: 250px;
}

.scan-summary-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  padding: 24px;
}

.scan-summary-edit,
.scan-summary-refresh,
.scan-summary-delete {
  font-size: 25px;
  margin: 0 10px;
}

.scan-summary-delete {
  color: $yellow;
}

.scan-summary-outcome-unknow {
  color: $neutral-primary;
}
.scan-summary-outcome-invalid {
  color: $yellow;
}
.scan-summary-outcome-valid {
  color: $theme-primary;
}

.scan-summary-input-small,
.scan-summary-input-big {
  display: inline-block;
}

.scan-summary-input-small {
  max-width: 90px;
}

.scan-summary-input-big {
  min-width: 300px;
}

.scan-summary-delete-input {
  margin-left: 20px;
}

.scan-summary-label-input {
  text-align: right;
  padding: 0 20px 0 0;
}
