<div class="input-wrapper input-search-wrapper">
  <input
    type="text"
    name="query"
    class="input-primary"
    [(ngModel)]="model">
  <i class="ms-Icon ms-Icon--Search" aria-hidden="true"></i>
  <i class="ms-Icon ms-Icon--ChromeClose" aria-hidden="true" (click)="cancel()"></i>
</div>