<div class="container">
  <div class="list-header-wrapper">
    <h2 class="list-header">Recent Scans</h2>
    <button class="btn-primary" (click)="startNewScan()" name="start-new-scan">Start new scan</button>
  </div>

  <trq-scans-list-view
    [scansList]="scansList"
    [offset]="offset"
    [limit]="limit"
    [hasNextPage]="hasNextPage"
    (scanSelected)="scanSelected($event)"
    (scansListInfiniteScrollCallback)="scansListInfiniteScrollCallback($event)"
    [recentScansIds]="recentScansIds"
  ></trq-scans-list-view>
</div>
