@import "../../../../styles/abstracts/variables-colors";

.scan-edit-form-fullscreen {
  .form-buttons-wrapper, .additional-info-wrapper {
    margin-top: 32px;
  }
  .input-wrapper, .additional-info-wrapper {
    .btn-danger {
      position: static;
      margin-left: 20px;
    }
  }
  .form-buttons-wrapper button {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.input-wrapper, .additional-info-wrapper {
  position: relative;
  .btn-danger {
    position: absolute;
    left: calc(100% + 20px);
    bottom: 8px;
  }
}
.additional-info-wrapper {
  display: flex;
  margin-top: 24px;
  .input-wrapper + .input-wrapper {
    margin-top: 0;
    margin-left: 20px;
  }
  .input-wrapper:first-of-type {
    width: 156px;
  }
  .input-wrapper:last-of-type {
    margin-left: 20px;
    flex-grow: 1;
  }
}

.scan-form .input-wrapper input {
  margin-right: 24px;
}

.scan-created-at {
  align-self: center;
  color: rgba(white, 0.5);
}
