<div class="container">
  <div class="list-header-wrapper">
    <h2 class="list-header">Scan History</h2>
    <trq-input-search [(query)]="query" (queryChange)="queryChange($event)"></trq-input-search>
    <button class="btn-secondary" (click)="exportScans()">Export CSV</button>
  </div>

  <trq-scans-list-view
    [scansList]="scansList"
    [offset]="offset"
    [limit]="limit"
    [hasNextPage]="hasNextPage"
    (scanSelected)="scanSelected($event)"
    (scansListInfiniteScrollCallback)="scansListInfiniteScrollCallback($event)"
  ></trq-scans-list-view>
</div>
