<form class="material-form" #materialForm="ngForm" (ngSubmit)="submit()">

  <div class="input-wrapper">
    <label for="name">Name</label>
    <input
      type="text"
      class="input-primary"
      id="name"
      required
      maxlength="256"
      [(ngModel)]="material.name"
      name="name"
      #name="ngModel"
    >
  </div>

  <div class="input-wrapper">
    <label for="resistance">Resistance</label>
    <input
      type="number"
      class="input-primary"
      id="resistance"
      required
      [trqMin]="0"
      [trqMax]="100000000"
      [(ngModel)]="material.resistance"
      name="resistance"
      #resistance="ngModel"
    >
    <span class="input-unit">{{ UNITS.resistance }}</span>
  </div>

  <div class="input-wrapper">
    <label for="permeability">Permeability</label>
    <input
      type="number"
      class="input-primary"
      id="permeability"
      required
      [trqMin]="0"
      [trqMax]="100000000"
      [(ngModel)]="material.permeability"
      name="permeability"
      #permeability="ngModel"
    >
    <span class="input-unit">{{ UNITS.permeability }}</span>
  </div>

  <div class="input-wrapper">
    <label for="frequency">Frequency</label>
    <input
      type="number"
      class="input-primary"
      id="frequency"
      required
      [trqMin]="0"
      [trqMax]="100000000"
      [ngModel]="displayedFrequency"
      (ngModelChange)="displayedFrequencyChange($event)"
      name="frequency"
      #frequency="ngModel"
    >
    <div class="input-dropdown">
      <trq-frequency-dropdown [frequencyMultiplier]="frequencyMultiplier" (frequencyMultiplierChange)="frequencyMultiplierChange($event)"></trq-frequency-dropdown>
    </div>

  </div>
  <div class="form-buttons-wrapper">
    <button class="btn-primary" type="submit" [disabled]="!materialForm.form.valid">
      <ng-container *ngIf="material && material.id">Save</ng-container>
      <ng-container *ngIf="material && !material.id">Add</ng-container>
    </button>
    <a [routerLink]="['/materials']" class="btn-secondary">Cancel</a>
  </div>
</form>
