.grid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: 100%;
  flex: 0 0 auto;
}

@mixin set-columns($i) {
  max-width: calc(100% / #{$grid-columns} * #{$i});
  flex-basis: calc(100% / #{$grid-columns} * #{$i});
}
@mixin set-offset($i) {
  margin-left: calc(100% / #{$grid-columns} * #{$i});
}
  
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include set-columns($i);
  }
  .col-offset-#{$i} {
    @include set-offset($i);
  }
}